.Charts1 {
    display: flex;
    flex: 1;
    height: 7rem !important;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background-color: rgb(85, 81, 81);
  }
  .Charts1:hover {
    box-shadow: none !important;
  }
  
  
  @media screen and (max-width: 1200px) {
    .Charts1{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Charts1{
      width: 90%;
    }
  }